<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
</head>
<body>
    <h1>Liste des Contacts</h1>
    <table>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Numéro</th>
        </tr>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact[1] }}</td>
            <td>{{ contact[2] }}</td>
            <td>{{ contact[3] }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Ajouter un nouveau contact</h2>
    <form action="/contacts" method="POST">
        <label for="nom">Nom :</label>
        <input type="text" name="nom" required><br>
        <label for="prenom">Prénom :</label>
        <input type="text" name="prenom" required><br>
        <label for="numero">Numéro :</label>
        <input type="text" name="numero" required><br>
        <input type="submit" value="Ajouter">
    </form>

    <br><a href="/">Retour à l'accueil</a>
</body>
</html>
